.search-box{
  background-color: #dddddd;
  border: 1px solid #dddddd;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  width: 350px;
  outline: none;
}
.add-product{
  background-image: linear-gradient(to right,rgb(252, 134, 100),rgb(255, 101, 163));
  border: none;
  color: white;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
button:focus{
  outline: none;
}
.category{
  background-color: #dddddd;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  color: gray;
}
.img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.content{
  margin-top: 10px;
}
.user-detail{
  background-color: #dddddd;
  border: 1px solid #dddddd;
  width: 500px;
  height: auto;
  margin-top: -45px;
}
.img-detail{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img-align{
  text-align: center;
  margin-bottom: 40px;
}
.user-detail-align{
  margin-top: 20px;
}
.user-detail-footer{
  border: 1px solid #dddddd;
  background-color: #dddddd;
  width: 500px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 2px;
}
.address{
  font-size: 36px;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  background: -webkit-linear-gradient(rgb(252, 134, 100),rgb(255, 101, 163));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bottom{
  margin-bottom: 20px;
}
.check{
  margin-top: 25px;
  width: 18px;
  height: 18px;
}
.company{
  margin-top: 20px;
}
.user{
  margin-top: 20px;
  margin-bottom: 20px;
}
.font-small{
  font-size: 12px;
}
.center{
  margin-left: 40%;
  margin-top: 20px;
}
.close{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 18px;
  margin-right: 10px;
}
.modal-input{
  margin-bottom: 20px;
  resize: none;
  padding: 5px;
}
.modal-bottom{
  margin-bottom: 35px;
}
label {
  color: rgb(234 67 53);
  border: 1px solid rgb(234 67 53);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#update-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.img-upload{
  margin-left: 54px;
}
.modal-body{
  font-size: small;
}
.modal-head{
  font-size: 24px;
}
.btn-cancel{
  background-color: #dddddd;
  border: 1px solid #dddddd;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  margin-right: 20px;
}
.btn-save{
  background-color: rgb(234 67 53);
  border: 1px solid rgb(234 67 53);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
}
.btn{
  margin-top: 20px;
  margin-left: 70px;
}
.balance{
    font-size: xx-large;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    background: -webkit-linear-gradient(rgb(252, 134, 100),rgb(255, 101, 163));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dropdown{
  border: none;
  background-color: white;
  outline: none;
}
.head{
  margin-top: 20px;
}
.search{
  position: absolute;
  top: 0px;
  margin-top: 10px;
  right: 40px;
}
.error{
  color: red;
  font-size: 10px;
  margin-bottom: -20px;
  position: absolute;
}
.edit-delete{
  font-size: 20px;
}
.individual-user{
  padding-bottom: 20px;
}
.chat{
  font-size: 28px;
  margin-top: 10px;
}
.side-menu{
  background-image: linear-gradient(180deg,rgb(252, 134, 100),rgb(255, 101, 163));
  height: 100%;
  float: left;
  position: absolute;
  position: fixed;
  width: 75px;
  top: 0;
}
.bar{
  font-size: 24px;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.side-icon{
  font-size: 24px;
  color: white;
  margin-left: 20px;
  margin-bottom: 40px;
}
.scroll{
  overflow-x: hidden;
}
.side-align{
  margin-left: -70px;
}
.contact{
  font-size: 24px;
}
.welcome-position{
  margin-top: -10px;
}
.search-align{
  margin-left: 10px;
}
.address-align{
  margin-left: -50px;
}
.contact-list{
  margin-left: 30px;
}
.search-icon{
  margin-left: 20px;
}
/* .line{
  border-left: 5px solid white;
  height: 30px;
  position: relative;
  margin-left: 0px;
} */
.chat-box{
  background-color: #dddddd;
  border: 1px solid #dddddd;
  width: 500px;
  height: auto;
  margin-top: -45px;
  margin-left: 20px;
}
.scroll-down{
  overflow-y: scroll;
  height: 55vh;
}
.text-box{
  background-color: #dddddd;
  border: 1px solid #c9c5c5;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 500px;
  bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border-left: none;
  border-right: none;
}
.send-icon{
  font-size: 20px;
  color: black;
  position: absolute;
  right: 0px;
  margin-top: -38px;
  margin-right: 110px;
}
.card{
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.active-card{
  background-color: lightblue;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.view{
  display: block;
}
.chat-header{
  height: 60px;
  border: 1px solid #c9c5c5;
}
.chat-img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.chat-header-font{
  font-size: 20px;
  margin-top: 10px;
}
.chat-icon{
  font-size: 24px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.time{
  font-size: 10px;
}